@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --surface-default-layer: theme('colors.surface.DEFAULT');
    --surface-hover-layer: color-mix(in srgb, theme('colors.on.surface.DEFAULT') 12%, theme('colors.surface.DEFAULT'));
    --surface-press-layer: color-mix(in srgb, theme('colors.on.surface.DEFAULT') 16%, theme('colors.surface.DEFAULT'));

    --surface-high-hover-layer: color-mix(in srgb, theme('colors.on.surface.DEFAULT') 12%, theme('colors.surface.high'));
    --surface-high-press-layer: color-mix(in srgb, theme('colors.on.surface.DEFAULT') 16%, theme('colors.surface.high'));

    --primary-hover-layer: color-mix(in srgb, theme('colors.on.primary') 8%, theme('colors.primary'));
    --primary-press-layer: color-mix(in srgb, theme('colors.on.primary') 16%, theme('colors.primary'));

    --danger-hover-layer: color-mix(in srgb, theme('colors.danger') 12%, theme('colors.surface.DEFAULT'));
    --danger-press-layer: color-mix(in srgb, theme('colors.danger') 16%, theme('colors.surface.DEFAULT'));
}

:root {
    --button-horizontal-padding: theme('spacing.4');
    --button-vertical-padding: theme('spacing.0');
    --button-height: theme('spacing.10');
    --button-border-radius: theme('borderRadius.md');

    --menu-border-radius: theme('borderRadius.DEFAULT');
    --menu-background: theme('colors.surface.high');
    --menu-item-horizontal-padding: theme('spacing.6');
    --menu-item-vertical-padding: theme('spacing.3');

    --card-gap: theme('spacing.4');
    --card-border-radius: theme('borderRadius.md');
    --card-background: theme('colors.surface.DEFAULT');
    --card-horizontal-padding: theme('spacing.6');
    --card-vertical-padding: theme('spacing.4');
}

html {
    @apply bg-background text-on-background;
}

@layer components {
    .button {
        @apply
            flex
            items-center
            justify-center
            text-sm
            font-medium
            h-10
            px-4
            py-0
            rounded-md
            disabled:opacity-70
            disabled:pointer-events-none
            transition-colors;
    }
}
