@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --surface-hover-layer: color-mix(in srgb, theme('colors.on.surface.DEFAULT') 12%, theme('colors.surface.DEFAULT'));
    --surface-press-layer: color-mix(in srgb, theme('colors.on.surface.DEFAULT') 16%, theme('colors.surface.DEFAULT'));

    --surface-high-hover-layer: color-mix(in srgb, theme('colors.on.surface.DEFAULT') 12%, theme('colors.surface.high'));
    --surface-high-press-layer: color-mix(in srgb, theme('colors.on.surface.DEFAULT') 16%, theme('colors.surface.high'));

    --primary-hover-layer: color-mix(in srgb, theme('colors.on.primary') 8%, theme('colors.primary'));
    --primary-press-layer: color-mix(in srgb, theme('colors.on.primary') 16%, theme('colors.primary'));

    --danger-hover-layer: color-mix(in srgb, theme('colors.on.danger') 8%, theme('colors.danger'));
    --danger-press-layer: color-mix(in srgb, theme('colors.on.danger') 16%, theme('colors.danger'));
}

:root {
    --button-horizontal-padding: theme('spacing.4');
    --button-vertical-padding: theme('spacing.0');
    --button-height: theme('spacing.10');
    --button-border-radius: theme('borderRadius.md');

    --menu-border-radius: theme('borderRadius.DEFAULT');
    --menu-background: theme('colors.surface.high');
    --menu-item-horizontal-padding: theme('spacing.6');
    --menu-item-vertical-padding: theme('spacing.3');

    --card-gap: theme('spacing.4');
    --card-border-radius: theme('borderRadius.md');
    --card-background: theme('colors.surface.DEFAULT');
    --card-horizontal-padding: theme('spacing.6');
    --card-vertical-padding: theme('spacing.4');
}

html {
    @apply bg-background;
}

@layer components {
    .button {
        @apply
            flex
            items-center
            justify-center
            font-medium
            text-sm
            h-[var(--button-height)]
            px-[var(--button-horizontal-padding)]
            py-[var(--button-vertical-padding)]
            rounded-[var(--button-border-radius)]
            disabled:opacity-70 disabled:pointer-events-none
            transition-colors;
    }

    .menu-item {
        @apply flex flex-row text-base font-normal transition-colors px-[var(--menu-item-horizontal-padding)] py-[var(--menu-item-vertical-padding)];
    }

    .card {
        @apply
            flex
            flex-col
            relative
            overflow-hidden
            transition-colors
            bg-[var(--card-background)]
            px-[var(--card-horizontal-padding)]
            py-[var(--card-vertical-padding)]
            gap-[var(--card-gap)]
            rounded-[var(--card-border-radius)]
            hover:bg-[var(--surface-hover-layer)]
            focus:bg-[var(--surface-press-layer)];

        .card-title {
            @apply font-medium text-base text-on-surface;
        }
    
        .card-subtitle {
            @apply font-medium text-sm text-on-surface-variant;
        }
    
        .card-text {
            @apply font-normal text-base text-on-surface;
        }
    
        .card-link {
            @apply absolute inset-0;
        }
    }

    .card-list {
        @apply flex flex-col gap-4;
    }

    .page-title {
        @apply text-on-background font-normal text-2xl;
    }
}
